.small-card-box{
    /* height: 15rem; */
    margin-bottom: 1rem;
    cursor: pointer;
    border-width: 1px;
    transition: box-shadow .3s .1s;
    overflow: hidden;
}
.small-card-img-box {
    border-radius: 12px 0 0 12px;
}

.sports-story{
    border-color: #F17105;
}
.sports-story:hover{
    box-shadow: 0px 0px 15px 1px rgba(241,113,5,0.75);
}

.business-and-finance-story {
    border-color: #283D3B;
}
.business-and-finance-story:hover{
    box-shadow: 0px 0px 15px 1px rgba(40,61,59,0.75);
}

.ireland-story {
    border-color: #0E9C62;
}
.ireland-story:hover{
    box-shadow: 0px 0px 15px 1px rgba(14,156,98,0.75);
}

.entertainment-story {
    border-color: #C4E7D4;
}
.entertainment-story:hover{
    box-shadow: 0px 0px 15px 1px rgba(196,231,212,0.75);
}

.health-story {
    border-color: #DE1A1A;
}
.health-story:hover{
    box-shadow: 0px 0px 15px 1px rgba(222,26,26,0.75);
}

.education-story {
    border-color: #F3B3A6;
}
.education-story:hover{
    box-shadow: 0px 0px 15px 1px rgba(243,179,166,0.75);
}

.world-story {
    border-color: #415A77;
}
.world-story:hover{
    box-shadow: 0px 0px 15px 1px rgba(65,90,119,0.75);
}
