.top-story-box {
    margin-bottom: 5px;
    cursor: pointer;
    border-width: 4px;
    border-style: solid;
    transition: box-shadow .3s .1s;
}

.card-text {
    color: #fff;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    height: 100%;
}
.description {
    overflow: hidden;
}

.sports-top-story{
    border-color: #F17105;
}
.sports-top-story:hover{
    box-shadow: 0px 0px 15px 1px rgba(241,113,5,0.75);
}

.business-and-finance-top-story {
    border-color: #283D3B;
}
.business-and-finance-top-story:hover{
    box-shadow: 0px 0px 15px 1px rgba(40,61,59,0.75);
}

.ireland-top-story {
    border-color: #0E9C62;
}
.ireland-top-story:hover{
    box-shadow: 0px 0px 15px 1px rgba(14,156,98,0.75);
}

.entertainment-top-story {
    border-color: #C4E7D4;
}
.entertainment-top-story:hover{
    box-shadow: 0px 0px 15px 1px rgba(196,231,212,0.75);
}

.health-top-story {
    border-color: #DE1A1A;
}
.health-top-story:hover{
    box-shadow: 0px 0px 15px 1px rgba(222,26,26,0.75);
}

.education-top-story {
    border-color: #F3B3A6;
}
.education-top-story:hover{
    box-shadow: 0px 0px 15px 1px rgba(243,179,166,0.75);
}

.world-top-story {
    border-color: #415A77;
}
.world-top-story:hover{
    box-shadow: 0px 0px 15px 1px rgba(65,90,119,0.75);
}



.lg-box {
    width: 39%;
    height: 40rem;
}
.lg-box .headline {
    font-size: 2.6rem;
    line-height: 2.6rem;
}
.lg-box .description {
    font-size: 2.2rem;
    line-height: 2.2rem;
}

.md-box {
    width: 19%;
    height: 19rem;
}
.md-box .headline {
    font-size: 2rem;
    line-height: 2rem;
}
.md-box .description {
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.sm-box {
    width: 19%;
    height: 10rem;
}
.sm-box .headline {
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
}
.sm-box .description {
    display: none;
}

.mobile-box {
    width: 100%;
    height: 45vh;
}
.mobile-box .headline {
    font-size: 2rem;
    line-height: 2rem;
}
.mobile-box .description {
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.mobile-box:hover {
    box-shadow: none;
}

.headline-container {
    text-overflow: ellipsis;
    height: 100px;
    width: 100px;
}
.grid {
    padding: 10px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, .25);
}