.infinite-scroll-box {
    width: 66%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen 
    and (max-width : 950px) {
        .infinite-scroll-box {
            width: 100%;
        }
    } 