{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no">
        <title>Newsie :-)</title>
        <style type="text/css">
            body {
                margin: 0;
                }
        </style>
    </head>
    <body>
        <div id="root" style="width: 100vw; margin: 0; max-width: 100%;"></div>
        {% render_bundle 'main' %}
    </body>
</html>