.header {
    padding: 1rem 1rem 1rem 1rem;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #666666;
    position: sticky;
    top: 0;
    z-index: 5;
}

.brand {
    position: fixed;
    top: 5px;
    left: 5px;
}

.stories-tab {
    margin: .9rem auto .9em auto;
}

.filters-container {
    transition: max-height 0.4s ease;
}

.show-filters {
    cursor: pointer;
    bottom: -1.5rem;
    left: calc(50% - 1.3rem);
    position: absolute;
    display: flex;
    align-items: center;
    padding-top: .3rem;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 100%;
    background-color: #fff;
    border-style: solid;
    border-color: #666666;
}

.date-container {
    width: fit-content;
    margin: 0 auto 0 auto;
    text-align: center;
    overflow: hidden;
}

.date-range-text {
    padding: 5px;
    width: 8rem;
}
.calendar {
    vertical-align: sub;
    float: left;
}