.header {
    padding: 1rem 1rem .3rem 1rem;
    width: 100%;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 5;
}

.brand {
    position: fixed;
    top: 5px;
    left: 5px;
}

.date-container {
    width: fit-content;
    margin: 0 auto 0 auto;
    text-align: center;
}

.date-range-text {
    padding: 5px;
    width: 8rem;
}
.calendar {
    vertical-align: sub;
    float: left;
}